In [3]:
import pandas as pd 
data=pd.read_excel("flight_price.xlsx")

In [4]:
columns=list(data.columns)

In [5]:
print(columns)

['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops', 'Additional_Info', 'Price']

In [6]:
X=data.drop(["Price"],axis=1)

In [7]:
data.columns.dtype

dtype('O')

In [8]:
num_features=list(data.select_dtypes(int).columns)

In [9]:
cat_features=list(data.select_dtypes(object).columns)

In [10]:
num_features

['Price']

In [11]:
for column in cat_features:
    X[column].fillna(X[column].mean)

In [12]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [13]:
df = [[columns.lower() for columns in data]]

In [14]:
d1 = data.map(lambda s: s.lower() if type(s) == str else s)

In [15]:
d1.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,indigo,24/03/2019,banglore,new delhi,blr → del,22:20,01:10 22 mar,2h 50m,non-stop,no info,3897
1,air india,1/05/2019,kolkata,banglore,ccu → ixr → bbi → blr,05:50,13:15,7h 25m,2 stops,no info,7662
2,jet airways,9/06/2019,delhi,cochin,del → lko → bom → cok,09:25,04:25 10 jun,19h,2 stops,no info,13882
3,indigo,12/05/2019,kolkata,banglore,ccu → nag → blr,18:05,23:30,5h 25m,1 stop,no info,6218
4,indigo,01/03/2019,banglore,new delhi,blr → nag → del,16:50,21:35,4h 45m,1 stop,no info,13302

In [16]:
d1['Price'].dtype

dtype('int64')

In [17]:
d1.drop_duplicates()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,indigo,24/03/2019,banglore,new delhi,blr → del,22:20,01:10 22 mar,2h 50m,non-stop,no info,3897
1,air india,1/05/2019,kolkata,banglore,ccu → ixr → bbi → blr,05:50,13:15,7h 25m,2 stops,no info,7662
2,jet airways,9/06/2019,delhi,cochin,del → lko → bom → cok,09:25,04:25 10 jun,19h,2 stops,no info,13882
3,indigo,12/05/2019,kolkata,banglore,ccu → nag → blr,18:05,23:30,5h 25m,1 stop,no info,6218
4,indigo,01/03/2019,banglore,new delhi,blr → nag → del,16:50,21:35,4h 45m,1 stop,no info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,air asia,9/04/2019,kolkata,banglore,ccu → blr,19:55,22:25,2h 30m,non-stop,no info,4107
10679,air india,27/04/2019,kolkata,banglore,ccu → blr,20:45,23:20,2h 35m,non-stop,no info,4145
10680,jet airways,27/04/2019,banglore,delhi,blr → del,08:20,11:20,3h,non-stop,no info,7229
10681,vistara,01/03/2019,banglore,new delhi,blr → del,11:30,14:10,2h 40m,non-stop,no info,12648
10682,air india,9/05/2019,delhi,cochin,del → goi → bom → cok,10:55,19:15,8h 20m,2 stops,no info,11753

In [18]:
d1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,indigo,24/03/2019,banglore,new delhi,blr → del,22:20,01:10 22 mar,2h 50m,non-stop,no info,3897
1,air india,1/05/2019,kolkata,banglore,ccu → ixr → bbi → blr,05:50,13:15,7h 25m,2 stops,no info,7662
2,jet airways,9/06/2019,delhi,cochin,del → lko → bom → cok,09:25,04:25 10 jun,19h,2 stops,no info,13882
3,indigo,12/05/2019,kolkata,banglore,ccu → nag → blr,18:05,23:30,5h 25m,1 stop,no info,6218
4,indigo,01/03/2019,banglore,new delhi,blr → nag → del,16:50,21:35,4h 45m,1 stop,no info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,air asia,9/04/2019,kolkata,banglore,ccu → blr,19:55,22:25,2h 30m,non-stop,no info,4107
10679,air india,27/04/2019,kolkata,banglore,ccu → blr,20:45,23:20,2h 35m,non-stop,no info,4145
10680,jet airways,27/04/2019,banglore,delhi,blr → del,08:20,11:20,3h,non-stop,no info,7229
10681,vistara,01/03/2019,banglore,new delhi,blr → del,11:30,14:10,2h 40m,non-stop,no info,12648
10682,air india,9/05/2019,delhi,cochin,del → goi → bom → cok,10:55,19:15,8h 20m,2 stops,no info,11753

In [19]:
for x in data.columns:
    if (x=="date"):
        print("yes")

In [20]:
for x in data.columns:
    if(x=="Date_of_Journey"):
        print("yes")

yes

In [21]:
Numerical_features=list(data.select_dtypes(int).columns)

Categorial_features=list(data.select_dtypes(object).columns)

In [23]:
Categorial_features

['Airline',
 'Date_of_Journey',
 'Source',
 'Destination',
 'Route',
 'Dep_Time',
 'Arrival_Time',
 'Duration',
 'Total_Stops',
 'Additional_Info']

In [24]:
Target_columns="Price"

In [25]:
Numerical_features.remove(Target_columns)

In [26]:
from sklearn.model_selection import train_test_split

train,test=train_test_split(data,test_size=0.2,random_state=42)

In [27]:
train.shape

(8546, 11)

In [28]:
test.shape

(2137, 11)

In [29]:
X=data.drop(Target_columns,axis=1) # input data
Y=data[Target_columns] #Output data

In [ ]:
train_arr = np.c_[ input_feature_train_arr,np.array(target_features_train_df)]
test_arr = np.c_[input_feature_test_arr,np.array(target_features_test_df)]

NameError: name 'np' is not defined

In [31]:
import numpy as np
target_column_name="Price"#from configuration file

input_feature_train_df=train.drop(columns=[target_column_name],axis=1)
target_features_train_df=train[target_column_name]

input_feature_test_df=test.drop(columns=[target_column_name],axis=1)
target_features_test_df=test[target_column_name]

            
input_feature_train_arr=input_feature_train_df
input_feature_test_arr=input_feature_test_df

train_arr = np.c_[input_feature_train_arr,np.array(target_features_train_df)]
test_arr = np.c_[input_feature_test_arr,np.array(target_features_test_df)]

In [32]:
train_arr.shape

(8546, 11)

In [1]:
from Exception.exception import CustomException

In [2]:
from chardet import detect

with open('phisingData.csv', 'rb') as f:
    result = detect(f.read())
    encoding = result['encoding']
    print(encoding)

ascii